doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="//cdn.jsdelivr.net/npm/phaser@3.55.2/dist/phaser.js")
    script(src="javascripts/config.js") 
    script(src="javascripts/classes/Player.js")
    script(src="javascripts/classes/Focus.js") 
    script(src="javascripts/classes/Bullet.js") 
    script(src="javascripts/classes/Enemy.js") 
    script(src="javascripts/classes/Turret.js") 
    script(src="javascripts/classes/HudItem.js") 
    script(src="javascripts/functions.js")
  body
    script(src="javascripts/index.js")
    block content
